{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
    <button class="back-btn" onclick="window.location.href='/';">Back</button>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <label>
            <p class="label-txt">ENTER YOUR USERNAME</p>
            {{form.username}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">ENTER YOUR EMAIL</p>
            {{form.email}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">ENTER YOUR PASSWORD</p>
            {{form.password1}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">CONFIRM PASSWORD</p>
            {{form.password2}}
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <div class="error">
            {% for field in form %}
            {% for error in field.errors %}
            -> {{ error|escape }}<br>
            {% endfor %}
            {% endfor %}
        </div><br>
        <div class="account">
            Already Have a Account ? <a class="registet-btn" href="{% url 'login' %}"
                style="text-decoration: none;">Login</a> Now<br><br>
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</body>
<script src="{% static 'js/login.js' %}"></script>

</html>